doctype html
meta(charset='utf-8')
meta(name='viewport', content='width=device-width')
title Hotdog-API
link(rel='stylesheet',
    href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
    integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm',
    crossorigin='anonymous')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons')
link(rel='stylesheet', href='https://unpkg.com/vue-material/dist/vue-material.min.css')
link(rel='stylesheet', href='https://unpkg.com/vue-material/dist/theme/default.css')
script(src='https://unpkg.com/vuejs-paginate@latest')

link(rel='stylesheet'  href='css/style.css')
body
#app
    md-app(md-waterfall md-mode="fixed")
        include components/header
        md-app-content.main-layout
            .container.md-5
                include components/content

script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='https://cdn.jsdelivr.net/npm/vue' )
script(src="https://unpkg.com/vue-material")
script(type='module' defer src='js/index.controller.js')

