*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    margin-bottom: 10px;
    background: url("../img/m-bg.png");
}

body, .main-layout{
    background: url('../img/first_bg.gif');
}

.empty-block{
    width: 300px;
    height: 300px;
}
